<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Contatos</h1>
    <form action="/contacts/save" method="POST">
        <div>
            <input type="text" name="name" placeholder="Digite um nome">
        </div>
        <div>
            <input type="number" name="celular" placeholder="Digite um numero">
        </div>
        <div>
            <input type="submit" value="Salvar">
        </div>
    </form>
</body>
</html>